section{
  display: flex;
  flex-direction: column;
  p{
    margin: auto;
  }
  #thumbs {
    margin: auto;
    padding: 0;
    display: flex;
  }
  #thumbs a {
    border: solid 1px #ccc;
    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 2px;
    float: left;
  }
  #thumbs a:hover {
    border-color: #FF9900;
  }
  #thumbs li {
    list-style: none;
  }
  form{
    margin: auto;
  }
}
